body,main{
    height:100%;
    width: 100%;
    margin:0px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}
.window {
  background-color: black;
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  /* animation: fade-out 4s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 7s; */
  z-index: 10;
}
.welcome {
  position: absolute;
  z-index: 11;
  animation: fade-welcome 6s cubic-bezier(.74, .06, .4, .92) infinite forwards;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  text-align: center;
  font-size: bold;
  width: 100%;
}
.welcome p{
  font-size: 6rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
@keyframes fade-out {
  0% {
    width: 100vw;
    transform-origin: left;
    transform: scaleX(1)
  }

  100% {
    width: 0vw;
    display: none;
    transform: scaleX(0);
    display: none;
  }
}
@keyframes fade-welcome {
  0% {
      opacity: .0;
  }
  30% {
       opacity: 1;
  }
  31% {
       opacity: .9;
      
  }
  33% {
       opacity: 1;  
  }
  34% {
       opacity: .7;
  
  }
  35% {
       opacity: 1;
   
  }
  
  80%{
       opacity: 1;
  }  
  85%{
    opacity: .5;
}
97%{
  opacity: 1;
}
  99% {      
    opacity: .5;
  }  100% {      
    opacity: .3;
  }
}
@keyframes fade-welcome-out {
  0% {
      opacity: 1;
    }
   100% {      
    opacity: 0;
    display: none;
  }
}




main{
   background-color: aliceblue;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
    gap: 8px;
}
#nav-toggle{
    height: 5rem;
    width: 5rem;
    /* background-color: rgb(181, 134, 226); */
    background-image: linear-gradient(to top right ,#576182 ,#1FC5A8 );
    position: fixed;
    z-index: 3;
    left:50%;
    bottom: 5rem;
    border: none;
    transform: translateX(-50%);
    border-radius: 100%;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    cursor: pointer;
    transition: all 0.2s ease-in ;
}
#nav-toggle:hover{
    transform: translateX(-50%) scale(1.05);
}
#nav-toggle:active {
    transform: translateX(-50%) scale(0.96);
  }
#nav-toggle > i {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%) scale(0.9);
    color: aliceblue;
    font-size: 2rem;
    opacity: 0;
    transition: 0.4s ease;
   }

  nav {
    height: 50%;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
   
  }
  #nav-links {  
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    margin-top: clamp(2rem, 2vw, 3rem);
    padding: 0rem clamp(1rem, 2vw, 2rem);
    transform: translateY(70%) scale(0.9);
    transition: transform 0.5s cubic-bezier(.13,.53,.38,.97); 
    scroll-behavior: smooth;
    overflow-x: auto;
    padding-bottom: 1rem;
  } 

  
   .nav-link-image:hover{
    filter: brightness(70%) ;
    box-shadow: 1px 0px 50px 5px #1FC5A8;
  

  }
  #nav-links > .nav-link {
    text-decoration: none;
  }
  
  #nav-links > .nav-link > .nav-link-label {
    color: white;
    font-size: 1.25rem;
    margin: 0rem;
    text-transform: uppercase;
  }
  .nav-link-label:hover{
  }
  
  #nav-links > .nav-link > .nav-link-image {
    width: max(20vw, 400px);
    aspect-ratio: 1.8 / 1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
  }
  .main-col{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 8px;
    min-height: 99vh;
   
  }
  .main-col > .main-col-image {
    aspect-ratio: 1 / 1.8;
    object-fit: cover;
    height: 100%;
      opacity:0;
    
  }
  .lo{
    transition: all 0.5s ease;
    height: 99vh;
    transform: translateY(0%);
    
  }
  .lo > .main-col-image  {
    aspect-ratio: 1 / 1.7;
   
  }
  body::-webkit-scrollbar {
    width: 0.5em;
 
  }

   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
   #nav-links::-webkit-scrollbar {
    height: 2px;
  }
   
   #nav-links::-webkit-scrollbar-thumb {
    background-color: #1FC5A8;
    height: 4px;
    border-radius: 4px;
    padding-top: 5rem;
  }
